div.row {
    display: flex;
    flex: auto;
    height: 100%;
}

div.square {
    width: 100%;
    border: solid black;
    background: white;
    border-width: 1px;
}

div#container {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 600px;
    height: 600px;
}